@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500');

/* body {
    font-family: 'Barlow', sans-serif;
} */

#text-style {
    font-family: 'Barlow', sans-serif;  
}

.nav-link {
    font-weight: 400;
    font-size: 15px;
}

.navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 0 12px;
    height: 100px;
    line-height: 80px;
  }
  
